$brandWhite: #ffffff;
$brandBlack: #000000;
$brandDarkShadeGray: #484848;
$brandDarkGray:#707070;
$brandLightGray:#e5e5e5;
$brandSmoke: #f9f9f9;
$brandAlto: #dbdbdb;
$brandStorm: #f0efed;
$brandCatskill: #eff2f8;
$brandBlackRussian: #000028; 
$brandTuftsBlue: #399ADA;
$brandSeaSerpent: #39C6D2;
$brandParadisePink: #E6515D;
$brandTopaz: #FEC27A;
$brandDenim: #2367B7;
$brandYellow:#FFFF00;
$brandRed: #FF0000;
$brandPastelGreen: #74EA6C;
$brandtheme: #B5101B