@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'Lato-Medium';
    src: url('fonts/Lato-Medium.eot');
    src: url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Medium.woff2') format('woff2'),
        url('fonts/Lato-Medium.woff') format('woff'),
        url('fonts/Lato-Medium.ttf') format('truetype'),
        url('fonts/Lato-Medium.svg#Lato-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

$default-font: 'Lato', sans-serif;
$lato-medium: 'Lato-Medium';
$italic_font : italic;
$thin : 100;
$light : 300;
$regular: 400;
$bold : 700;
$black : 900;